<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <PageTitle>Access Denied</PageTitle>
                    @* <LayoutView Layout="@typeof(MainLayout)"> *@
                        <h1>Access Denied</h1>
                        <p role="alert">You are not authorized to access this page.</p>
                    @* </LayoutView> *@
                </NotAuthorized>
                @* <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
